---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">TOP</a></li>
				<li><a href="/about/">ABOUT</a></li>
				<li><a href="/blog/">BLOG</a></li>
			</ul>
		</nav>
		<h1>Astoro Tutorial</h1>
		<p>Astoroの練習です。</p>
		<p><a href="/">TOPに戻る</a></p>
	</body>
</html>
